<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-900 min-h-screen text-gray-100">
    <!-- Navbar -->
    <div
      class="mb-4 h-[10vh] bg-gray-700 flex justify-around items-center p-2 shadow-md text-gray-100"
    >
      <div class="ml-2 text-md text-[1rem] w-[65%]">
        Jim Shaped Coding Market
      </div>
      <div class="w-[35%] flex justify-center items-center">
        <a
          class="text-decoration-none hover:cursor-pointer mr-4 text-gray-400"
          href="/home"
          >Home</a
        >
        <a
          class="text-decoration-none hover:cursor-pointer hover:animate-pulse mr-4"
          href="/login"
          >Login</a
        >
        <a
          class="text-decoration-none hover:cursor-pointer hover:animate-pulse mr-4"
          href="/signup"
          >Signup</a
        >
        <a
          class="text-decoration-none hover:cursor-pointer hover:animate-pulse"
          href="/market"
          >Market</a
        >
      </div>
    </div>
    <div class="w-full bg-transparent">Hello World</div>
  </body>
</html>
